body{
    background-color: rgba(51, 139, 240, 0.705);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

#btn-enc{
    margin-top: -1em;
    float: right;
}

input{
    right: 10px;
    width: 40px;
}

img{
    display: inline;
    text-align: center;
}